node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
/dist/*

/prisma/*.db

.DS_store

# Example bots
examples/*/node_modules/
examples/*/package-lock.json
examples/*/.env
examples/*/dev.db
examples/*/dev.db-journal
examples/*/src/generated/
