# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here

<% if (database === 'mysql') { -%>
# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=telemeister
<% } else { -%>
# Database (SQLite)
DATABASE_URL=file:./dev.db
<% } -%>
